body {
    color: black;
}

a {
    color: darkorchid;
}

header {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    position: relative;
}

nav a {
    margin: 0 10px;
}

.account {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 20px;
}

.main_container {
    padding: 20px;
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}

.list_container_int {
    position: relative;
}

.complete_hider {
    position: absolute;
    right: 0;
    top: 0;
}

.modal .modal-container {
    min-width: 600px;
}

.hike {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.hike .text {
    flex: 2;
    align-items: center;
    align-content: center;
    padding: 6px 10px;
}

.hike .btn {
    margin-left: 10px;
}

.btn-action {
    position: fixed;
    bottom: 20px;
    right: 20px;
}